/web/app/debug.log
/node_modules/


# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/twentytwentythree/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml


*.sql
*.sql.gz
.DS_Store
.vscode



# Untracked and uninstalled modules 

web/app/themes/unicon/
web/app/ai1wm-backups/
web/app/pluginsSave/
web/app/themes/unicon/
web/app/themes/twenty*

# acf no key so it's added in git 
!web/app/plugins/advanced-custom-fields-pro
